*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Ma Shan Zheng', cursive; */
}
html{
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}
html body{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#f8c6c6;
}
body a{
  text-decoration: none;
  color: #E799B0;
}
body a:hover{
  color: #1e0b0b;
}
.box{
  width:500px;
  margin: 0 0 50px 0;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}
/* Scrollbar Effects */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
