*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Ma Shan Zheng', cursive; */
}
html{
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}
html body{
  padding-top: 50px;
  font-size: 28px;
}
body a{
  text-decoration: none;
  color: #ffffff;
}
body a:hover{
  color: #1e0b0b;
}
.box{
  margin: 25px 50px;
  padding: 25px 0;
  background-color: #ffffff;
  border-bottom:1px solid #E799B0 ;
}
.box .button {
  margin: 0 5px;
  border: none;
  border-radius:0.5rem ;
  color: white;
  padding: 5px 20px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: #E799B0;
}
/* Scrollbar Effects */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
} 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
